@import 'reset.css';
/* Landing */
.landing {
  background: url('./img/landing.jpg') no-repeat center center / cover;
  height: 100vh;
  position: relative;
  color: #fff;
}
.site-info {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.site-info h1 {
  margin-bottom: 20px;
}
