@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  text-align: center;
}
/* Spinner */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(215,9,9, 0.2);
  border-right: 1.1em solid rgba(215,9,9, 0.2);
  border-bottom: 1.1em solid rgba(215,9,9, 0.2);
  border-left: 1.1em solid #d70909;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*  */

/* Başlık ve Yazı Stilleri */
.large {
  font-size: 5.5rem;
}

.medium {
  font-size: 3.5rem;
}

.small {
  font-size: 2rem;
}
.lead {
  font-size: 2rem;
}
/*  */
/* Margin ve Padding */
.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
/*  */

/* Card */
.card {
  display: inline-block;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1rem;
  padding-bottom: 1rem;
}
.card-img {
  width: 100%;
  border-radius:8px 8px 0 0;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card-title {
  font-size: 3rem;
  font-weight: bold;
  width: inherit;
  text-align: center;
  word-wrap: break-word;
  padding:0 1rem;
}
.card-description {
  font-size: 1.5rem;
  width: inherit;
  word-wrap: break-word;
  padding:0 1rem;
}
